{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load course %}

{% block title %}
			{% if subject %}
				{{subject.title}} courses
			{% else %}
				All Courses.
			{% endif %}
	{% endblock %}
{% block content %}
<div class="left">
	<div class="content-item">
		 <li><a href="{% url 'course_list' %}" class="active">ALL</a></li>
				{% for s in subjects %}
					<li>
						<a href="{% url 'course_list_subject' s.slug %}">
							{{s.title}}
							<br><span>{{s.total_courses}} Courses</span>
						</a>
					</li>
				{% endfor %}
				
	</div>
	
</div>
   
  <div class="right">
  		{% for course in courses %}
								{% with subject=course.subject %}
  	<div class="item">
  									<div class="title">
  										<h2><a href="{% url 'course_detail' course.slug %}">{{course.title}}</a></h2>
  									</div>
									<div class="content-item">
										<p>
											<a href="{% url 'course_list_subject' subject.slug %}">Domain:    <span>{{subject}}</span></a>
										</p>
											<h6><span>{{course.total_modules}}</span> modules.</h6>
												
											<h6>Instructor: <span> {{course.owner.get_full_name}}</span></h6>
										<br>
									</div>
										
										
								
  	</div>
  	{% endwith %}
	{% endfor %}
  </div>
  	
 

{% endblock %}



